.img-container {
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);

  border-radius: 20px;
  width: 300px;
}

.img-container:hover {
  transform: scale(1.05);
}

.product-name {
  text-align: center;
  font-size: 24px;
  color: #cfff8d;
  font-weight: 700;
}

.product-links {
  text-decoration: none;
}

.product-price {
  text-align: center;
  font-size: 24px;
  color: #cfff8d;
  font-weight: 700;
  margin-top: 10px;
}
